@model Saferide.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "../Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {id = "register-form", role = "form", style = "display: block;"}))
{
    @Html.AntiForgeryToken()
    <h2 class="login-title">REGISTER</h2>
    @Html.ValidationSummary("", new {@class = "text-danger validationSummary"})
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", tabindex = "1", placeholder = "Email", id = "email"})
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new {@class = "form-control", tabindex = "2", placeholder = "Password", id = "password"})
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", tabindex = "3", placeholder = "Confirm password", id = "confirm-password"})
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
            </div>
        </div>
    </div>
}
<div class="form-group">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            @Html.ActionLink("OR LOGIN", "Login", null, new {@class="form-control btn btn-login"})
        </div>
    </div>
</div>